// All of the OS, IDE, compiler stuff has been deleted
// They are needed, but you should have those in
// your global .gitignore rather than in
// a per-project file such as this

// Our automatic versioning scheme generates the following file
// NEVER put it in the repository
_Version.h
